body {
    background: linear-gradient(rgba(17,40,100), rgba(47,117,205), rgba(118,203,235));
    background-color: rgba(17, 40, 100);
    background-attachment: fixed;
    font-family: Arial;
    height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

#content {
    background-color: rgba(181, 240, 255, 0.5);
    border: 1px solid #679eba;
    margin: 20px;
}

.header {
    font-size: 20px;
    margin: 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

.recipe-list, .ingredient-list, .raw-ingredient-list {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #679eba;
    font-size: 15px;
    margin: 10px;
    width: 25%;
}

h2 {
    background-color: rgba(71, 156, 46, 1);
    border: 1px solid #009419;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    font-style: bold;
    margin: 0;
    padding: 3px;
    text-align: center;
    text-shadow: 0px 2px #7e7e7e;
    width: 100%
}

.tooltip {
    background-color: rgba(17, 40, 100, 0.80);
    border-radius: 1px;
    color: #fff;
    font-size: 10px;
    padding: 2px;
    position: absolute;
    size: 11px;
    visibility: hidden;
}

li:hover .tooltip {
    visibility: visible;
}