body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.recipe-list, .ingredient-list, .raw-ingredient-list {
    padding: 20px;
    border: 1px solid #000;
    width: 30%;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
}

li:hover .tooltip {
    visibility: visible;
}